## Escuela Colombiana de Ingeniería Julio Garavito

### Programming for Data Analysis

### Author

Juan Pablo Sánchez Bermúdez

In [4]:
# Imports
library(data.table)
library(dplyr)

Attaching package: 'dplyr'


The following objects are masked from 'package:data.table':

    between, first, last


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

# Alzheimer Features Data Set

### 1. Selecting and loading Data Set
I chose the [Alzheimer Features](https://www.kaggle.com/datasets/brsdincer/alzheimer-features) Data Set from Kaggle because I wanted to analyze another data set from scratch.

Group &rarr; Class

M/F &rarr; Male / Female

Age &rarr; Age

EDUC &rarr; Years of Education

SES &rarr; Socioeconomic Status / 1-5

MMSE &rarr; Mini Mental State Examination

CDR &rarr; Clinical Dementia Rating

eTIV &rarr; Estimated total intracranial volume

nWBV &rarr; Normalize Whole Brain Volume

ASF &rarr; Atlas Scaling Factor

In [2]:
# dataFrame <- read.table(file='alzheimer.csv',header=TRUE, sep=',')
dataFrame <- fread('alzheimer.csv')

# Rename M/F column
colnames(dataFrame)[2] <- "Gender"

head(dataFrame)

  Group       M/F Age EDUC SES MMSE CDR eTIV nWBV  ASF
1 Nondemented M   87  14    2  27   0.0 1987 0.696 0.883
2 Nondemented M   88  14    2  30   0.0 2004 0.681 0.876
3 Demented    M   75  12   NA  23   0.5 1678 0.736 1.046
4 Demented    M   76  12   NA  28   0.5 1738 0.713 1.010
5 Demented    M   80  12   NA  22   0.5 1698 0.701 1.034
6 Nondemented F   88  18    3  28   0.0 1215 0.710 1.444

### 2. Missing values
Now that the data frame is set, let's get details about the missing values of the data frame.
  - Columns with missing values
  - Rows with missing values
  - A percentage of records with missing values
  - Graphics to visualize missing information

In [110]:
missingValues <- function(df) {
    print("Rows and Columns with missing values respectively")
    size <- dim(df)
    for (row in 1:size[1]) {
        for (column in 1:size[2]) {
            if (df[row, ..column] %in% "NA") {
                print(paste(row, column))
            }
        }
    }
}
missingValues(dataFrame)

[1] "Rows and Columns with missing values respectively"
[1] "3 5"
[1] "4 5"
[1] "5 5"
[1] "11 5"
[1] "12 5"
[1] "13 5"
[1] "135 5"
[1] "136 5"
[1] "208 5"
[1] "209 5"
[1] "238 5"
[1] "239 5"
[1] "323 5"
[1] "324 5"
[1] "357 5"
[1] "358 5"
[1] "358 6"
[1] "359 5"
[1] "359 6"
[1] "360 5"
[1] "361 5"

In [90]:
#names(dataFrame)
#rename(dataFrame, M/F = mf)
#colnames(dataFrame)[2] <- "Gender"
#names(dataFrame)
#select(filter(dataFrame, Group %in% NA | Gender %in% NA | Age %in% NA | EDUC %in% NA | SES %in% NA | MMSE %in%NA | CDR %in% NA | eTIV %in% NA | nWBV %in% NA | ASF %in% NA), names(dataFrame))
size <- dim(dataFrame)
colnames(dataFrame)[1]
size[1]
size[2]
dataFrame[3, 5] %in% "NA"

[1] "Group"

[1] 373

[1] 10

[1] TRUE